body
{
    margin: 0 auto;
    padding: 10px 25px;
    width: 1500px;
    background-color: #f0f8ff;
}

label
{
    font-size: 25px;
}

.search
{
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
}

.direct-filter[value="in"]:checked~.schedule .out-row,
.direct-filter[value="out"]:checked~.schedule .in-row
{
    display: none;
}

.body-schedule tr:nth-child(n)
{
    display: none;
}

.search[value=""]~.schedule tr,
.search[value="Екатеринбург"]~.schedule tr[content="Екатеринбург"],
.search[value="Москва"]~.schedule tr[content="Москва"],
.search[value="Краснодар"]~.schedule tr[content="Краснодар"],
.search[value="Челябинск"]~.schedule tr[content="Челябинск"],
.search[value="Париж"]~.schedule tr[content="Париж"],
.search[value="Новосибирск"]~.schedule tr[content="Новосибирск"],
.search[value="Казань"]~.schedule tr[content="Казань"],
.search[value="Уфа"]~.schedule tr[content="Уфа"],
.search[value="Амстердам"]~.schedule tr[content="Амстердам"],
.search[value="Кишинев"]~.schedule tr[content="Кишинев"],
.search[value="Сургут"]~.schedule tr[content="Сургут"]
{
    display: table-row;
}

.schedule
{
    border: 1px solid black;
    border-collapse: collapse;
    overflow: hidden;
}

.schedule th,
.schedule td
{
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
}

.schedule .header-schedule
{
    background-color: #7D7D7D;
}

.schedule tr:nth-child(even) td::before
{
    content: "";
    position: absolute;
    background-color: #CCC;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.body-schedule tr:hover
{
    background-color: #FD0;
}

.schedule th:hover::after,
.schedule td:hover::after
{
    content: "";
    position: absolute;
    background-color: #FD0;
    left: 0;
    top: -50000px;
    width: 100%;
    height: 100000px;
    z-index: -1;
}

.schedule .logo
{
    height: 20px;
    margin-right: 5px;
}

.send-form .submit-button
{
    display: none;
}

.send-form:valid .submit-button
{
    display: block;
}

.send-form input,
.send-form button
{
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
}
